<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>

      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VimBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="VimBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost/sdk/vimService" binding="basicHttpBinding"
                bindingConfiguration="VimBinding" contract="vSphere.VimPortType"
                name="VimPort" />
        </client>
    </system.serviceModel>
</configuration>
